@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200 h-full text-black;
}

@layer components {
  .button {
    @apply py-2 px-3 
    bg-emerald-600 hover:bg-emerald-700 transition-colors
    text-white
    shadow-sm rounded-full font-bold 
    disabled:cursor-not-allowed 
    disabled:opacity-80 
    disabled:bg-slate-300
    disabled:hover:bg-slate-300
    ;
  }

  .input {
    @apply font-bold tracking-wide px-3 py-2 rounded-lg text-black placeholder:font-normal border border-slate-300;
  }

  .label {
    @apply tracking-wide;
  }
}